* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: inherit;
    outline: none;
    font-weight: inherit;
  }

body {
    color: #444444;
    font-family: 'Inter', sans-serif;
    margin: 0px;
    overflow-x: hidden;
    background-color: #259ead;
}

a:hover{ cursor:  pointer }

header{
    margin-top: 2rem;
}

main{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.container{
    display: flex;
    width: 100%;
    max-width: 1024px;
    flex-wrap: wrap;
    flex-direction: row;
    z-index: 2;
    justify-content: center;
    align-items: stretch;
    overflow: auto;
    gap: 30px;
}

.frame {
    width: 80%;
    outline: none;
    background: #FAFAFA;
    border-radius: 8px;
    padding: 1em;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.frame:hover{
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.35);
}

.content {
    background: #F3F3F3;
    padding: .5em .6em;
    border-radius: 8px;
    font-weight: 600;
    text-align: center;
    flex: 1 1 auto;
}

.title{
    align-self: flex-start;
    display: flex;
    align-items: center;
    font-weight: 500;
    margin-bottom: 4px;
}

.iconify{
    margin-left: 2px;
    margin-right: 5px;
}

header{
    font-size: 22px;
    text-align: center;
    color: #e02f6b;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    font-weight: 600;
    margin-bottom: 1em;
}
img {
    max-width: 130px;
}

.back-arrow{
    position: fixed;
    z-index: 3;
    color: #e02f6b;
    font-size: 30px;
    border: 1px solid white;
    margin-top: -1rem;
    margin-left: 2%;
    border-radius: 1000px;
}

.ocean {
    background: #e02f6b;
    height: 10%;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -1;
}
.wave {
    background: url(./wave.svg) repeat-x; 
    position: absolute;
    top: -198px;
    width: 6400px;
    height: 198px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
}
.wave:nth-of-type(2) {
    top: -175px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
    opacity: 1;
}
@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}
@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}


@media screen and (min-width: 600px) {
    .container{
        flex-direction: row;
    }
    .frame{
        width: 40%;
    }
    img{
        max-width: 170px
    }
}

@media screen and (min-width: 768px) {
    .frame{
        width: 30%;
        max-width: 260px;
    }
    img{
        max-width: 200px
    }
}