* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: inherit;
    outline: none;
    font-weight: inherit;
  }

body {
    color: #444444;
    font-family: 'Inter', sans-serif;
    margin: 0px;
    overflow-x: hidden;
    background-color: #259ead;
    position: relative;
    min-height: 100vh;
    padding-bottom: 60px;
}

a:hover{ cursor:  pointer }

header{
    margin-top: 2rem;
}

main{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#container{
    display: flex;
    width: 100%;
    max-width: 1024px;
    flex-wrap: wrap;
    flex-direction: row;
    z-index: 2;
    justify-content: center;
    align-items: stretch;
    overflow: auto;
    gap: 30px;
}

.jcAround{
    justify-content: space-around !important;
}

.frame {
    width: 80%;
    outline: none;
    background: #FAFAFA;
    border-radius: 8px;
    padding: 1em;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.fullW{
    width: auto;
}

.frame:hover, .btn:hover{
    cursor: pointer;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.35);
}

.content {
    background: #F3F3F3;
    padding: .5em .6em;
    border-radius: 8px;
    font-weight: 600;
    text-align: center;
    flex: 1 1 auto;
}

.title{
    align-self: flex-start;
    display: flex;
    align-items: center;
    font-weight: 500;
    margin-bottom: 4px;
}

.title2{
    font-weight: 500;
    font-size:20px;
    color: #e02f6b;
}

.iconify{
    margin-left: 2px;
    margin-right: 5px;
}

header{
    font-size: 22px;
    text-align: center;
    color: #e02f6b;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    font-weight: 600;
    margin-bottom: 1em;
}
img {
    max-width: 130px;
}

footer{
    margin: 5px 0px 15px 0px;
    color: #FAFAFA;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0px;
    position: absolute;
    width: 100%;
}
footer a:hover{ color: #444444 }

.back-arrow{
    position: fixed;
    z-index: 3;
    color: #e02f6b;
    font-size: 30px;
    border: 1px solid white;
    margin-top: -1rem;
    margin-left: 2%;
    border-radius: 1000px;
}

.ocean {
    background: #e02f6b;
    height: 10%;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -1;
}
.wave {
    background: url(./wave.svg) repeat-x; 
    position: absolute;
    top: -198px;
    width: 6400px;
    height: 198px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
}
.wave:nth-of-type(2) {
    top: -175px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
    opacity: 1;
}

#formContainer{
    text-align: center;
    flex: 0 1 40%;
}

#formulario{
    display: flex;
    flex-direction: column;
    background: #ffffffaa;
    text-align: center;
    border: 3px solid #e02f6baa;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 1em;
    margin: auto;
}

.formChild{
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.inptCentered{
    justify-content: space-evenly;     
}

#isImg{  
    width: 15px;
    height: 15px;
    margin-top: 2px;
}

input{
    background: #F3F3F3cc;
    padding: 5px 7px;
    border-radius: 8px;
    border: none;
    outline: none;
    color: #c01d53;
    width: 175px;
}

.btn{
    padding: 6px 18px;
    width: 110px;
    background: #F3F3F3cc;
    color: #c01d53;
    border-radius: 6px;
    font-size: 13px;
    border: none;
    outline: none;
    border: 2px solid #c01d53;
    font-weight: 800;
}

#preview{
    text-align: center;
    flex: 0 1 40%;
}
#preview a.frame{
    margin: auto;
}

#notasContainer{
    text-align: center;
    flex: 0 1 80%;
}

#notas{
    margin: auto;
    margin-top: 1em;
    width: 80%;
    min-width: 260px;
    max-width: 700px;
    display: none;
    flex-direction: row;
    padding: 30px;
}

b{
    color:#e02f6b;
}
.underlined{
    text-decoration: underline;
}

.inNotas{
    margin: 10px 0px;
    text-align: left;
    padding: .6em 1em;
}

.inpContainer{
    display: flex;
    flex-direction: column;
}

.err{
    font-size: 11px;
    color: #e02f6b;
    text-align: left;
    padding-left: 5px;
    width: 175px;
    display: none;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}
@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}


@media screen and (min-width: 600px) {
    .container{
        flex-direction: row;
    }
    .frame{
        width: 40%;
    }
    .fullW{
        width: auto;
    }
    img{
        max-width: 170px
    }
}

@media screen and (min-width: 768px) {
    .frame{
        width: 30%;
        max-width: 260px;
    }
    .fullW{
        width: auto;
        max-width: 260px;
    }
    img{
        max-width: 200px
    }
}